body {
    background-color: #0c005a;
    font-family: 'Syne Mono', monospace;
}

a {
    color: #bc2525;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

.card-header1 {
    text-align: center;
    text-transform: uppercase;
}

.card ul li {
    text-align: center;
}

.card-header {
    height: 40px;
}

.card-body1 {
    height: 105px;
}

.card-body2 {
    height: 140px;
}

.card-body3 {
    height: 130px;
}